/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Madimi+One&family=Tilt+Prism:XROT,YROT@-2,-1&display=swap');
/* To remove default padding and margin.
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

/* Gradients from https://uigradients.com/#KingYna */
body {
  height: 100%;
  background: #1a2a6c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #fdbb2d,
    #b21f1f,
    #1a2a6c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #fdbb2d,
    #b21f1f,
    #1a2a6c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Barlow Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* main {
  height: 90vh;
} */


h1 {
  font-family: "Madimi One", sans-serif;
  font-size: clamp(2rem, 2.5vw, 3rem);
  color: #c0c0c0;
  margin: 10px;
  text-align: center;
  letter-spacing: 0.5px;
  text-shadow: 5px 5px 3px black;
}

#game-setup {
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100vw;
  max-height: 100vh;
}

#gameboard {
  position: relative;
  background-color: #fff;
  max-height: 600px;
  max-width: 260px;
  margin-bottom: 7px;
  border-radius: 5px;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.75);
}

#codeTop {
  font-family: "Tilt Prism", sans-serif;
  letter-spacing: 25px;
  position: absolute;
  font-size: clamp(3rem, 2.5vw, 3rem);
  color: #c0c0c0;
  top: 0;
  left: 17px;
  visibility: visible;
}
.row {
  margin-left: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  width: 98%;
  justify-content: space-between;
  align-items: center;
}

#secret {
  visibility: hidden;
}

#rowS-result {
  width: 50px;
  visibility: hidden;
}

/* box-shadow from: https://www.cssmatic.com/box-shadow
suggested on https://stackoverflow.com/questions/54253830/give-divs-depth-with-css-box-shadow-property*/
.guess-pegs,
.color {
  margin: 4px;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.46);
  display: inline-block;
  cursor: pointer;
}

/* Increase scale when hover(colors) and selected(pegs) */
.color:hover,
.selected {
  transform: scale(1.2);
}

.result-panel {
  margin-right: 5px;
  max-width: 50px;
  max-height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: inherit;
  justify-content: center;
  align-items: center;
}

#not-visible {
  background-color: inherit;
}

.result-pegs {
  margin: 3px;
  background-color: #fff;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.46);
  height: 13px;
  width: 13px;
  border-radius: 50%;
}

.result-pegs-invisible {
  background-color: inherit;
}

.colors {
  max-width: 60px;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.75);
}

.colors h2 {
  color: #000;
  font-size: clamp(1rem, 2.5vw, 1.5rem);;
}

#blue {
  background-color: blue;
  order: 3;
}

#red {
  background-color: red;
  order: 5;
}

#orange {
  background-color: orange;
  order: 6;
}

#pink {
  background-color: pink;
  order: 1;
}

#green {
  background-color: green;
  order: 4;
}

#purple {
  background-color: purple;
  order: 2;
}

#result-black {
  margin: 3px;
  background-color: #000;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.46);
  height: 13px;
  width: 13px;
  border-radius: 50%;
}

#result-gray {
  margin: 3px;
  background-color: #c0c0c0;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.46);
  height: 13px;
  width: 13px;
  border-radius: 50%;
}

.btn {
  font-size: 16px;
  color: #000;
  flex-direction: row;
  border-radius: 10px;
  padding: 2px 10px;
  margin: 15px 5px;
  background-color: #c0c0c0;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

/* inspired on the modal tutorial from https://www.youtube.com/watch?v=gLWIYk0Sd38 */
#bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: none;
}

#modal-content {
  width: 500px;
  height: 300px;
  background-color: #fff;
  border-radius: 4px;
  text-align: justify;
  letter-spacing: 0.5px;
  padding: 20px;
  overflow: auto;
  position: relative;
}

#modal-content > h2,
p {
  padding-top: 7px;
}

#modal-content > h3 {
  padding-top: 10px;
}

#closeModal {
  position: absolute;
  top: 0;
  right: 15px;
  display: inline-block;
  font-size: 42px;
  rotate: 45deg;
}
