

/* To remove default padding and margin.
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
}

#game-setup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 800px;
  max-height: 85vh;
}

#gameboard {
  flex-shrink: 0;
  margin: 10px;
  background-color: green;
  max-height: 85vh;
  width: 250px;
  border-radius: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/* ****** Remember to comment this back in ********
/* #secret {
  visibility: hidden;
} */

#rowS-result {
  background-color: inherit;
}

.guess-pegs,
.color {
  margin: 5px;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 1px black;
  display: inline-block;
  transition-duration: 0.5s;
  cursor: pointer;
}

.color:hover{
  transform: scale(1.3);
}

.result-panel {
  margin-right: 2px;
  max-width: 50px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: pink;
  justify-content: space-around;
  align-items: center;
}

#not-visible {
  background-color: inherit;
}

.result-pegs {
  margin: 2px;
  background-color: white;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.result-pegs-invisible {
  background-color: inherit;
}
.colors {
  margin: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

#color1 {
    background-color: blue;
}

#color2{
    background-color: red;
}

#color3 {
    background-color: orange;
}

#color4 {
    background-color: pink;
}

#color5 {
    background-color: green;
}

#color6 {
    background-color: purple;
}