/* To remove default padding and margin. Also make element be sized based on its border instead of its content */
*/ *,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
}

#gameboard {
    background-color: brown;
    width: 600px;
    position:relative;
    border-radius: 5px;
}

.guess-pegs {
    background-color: white;
    widht:30px;
    heigth: 30px;
    border-radius: 50%;
}


