/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Madimi+One&family=Tilt+Prism:XROT,YROT@-2,-1&display=swap");

/* To remove default padding and margin.
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

/* Gradients from https://uigradients.com/#KingYna */
body {
  background: #1a2a6c; /* fallback for old browsers */
  background: linear-gradient(to top, #fdbb2d, #b21f1f, #1a2a6c);
  font-family: "Barlow Condensed", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

h1 {
  display: block;
  text-align: center;
  margin-top: 2px;
  font-family: "Madimi One", sans-serif;
  color: #c0c0c0;
  text-shadow: 5px 5px 3px black;
}

/* Flex container with board, colours and result keys interpretation */
#boardColorsAndKeys {
  display: flex;
  margin: 0 6px;
  justify-content: center;
  flex-grow: 1;
  gap: 7px;
}

#gameboard {
  position: relative;
  display: flex;
  flex: 0 0 75%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.75);
}

.row {
  padding: 5px;
  border-radius: 5px;
  gap: 6px;
  border-bottom: solid 1px #c0c0c0;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background-color: #fff;
  justify-content: space-evenly;
  align-items: center;
}

.result-panel {
  width: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  background-color: inherit;
  justify-content: center;
  align-items: center;
}

/* box-shadow from: https://www.cssmatic.com/box-shadow
suggested on https://stackoverflow.com/questions/54253830/give-divs-depth-with-css-box-shadow-property*/
.guess-pegs,
.color {
  background-color: #fff;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.46);
  display: inline-block;
  cursor: pointer;
}
.color {
  width: 30px;
  height: 30px;
}

.result-pegs {
  background-color: #fff;
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.46);
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

/* Placeholder for the result panel size to aling pegs on the secret and codeTpo rows. Always to be hidden */
.rowS-result {
  width: 28px;
  visibility: hidden !important;
}

/* Flex container with coloursand result keys interpretation */
#coloursAndKeys {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7px;
}

#colorsContainer {
  padding: 2px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.75);
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

#codeResult {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#colorsContainer h2 {
  color: #000;
  font-size: clamp(1rem, 2vw, 2rem);
  text-align: center;
}

/* Increase scale when hover(colors) and selected(pegs) */
.color:hover,
.selected {
  transform: scale(1.2);
}

#color1 {
  background-color: blue;
  order: 3;
}
#color2 {
  background-color: red;
  order: 5;
}
#color3 {
  background-color: orange;
  order: 6;
}
#color4 {
  background-color: pink;
  order: 1;
}
#color5 {
  background-color: green;
  order: 4;
}
#color6 {
  background-color: purple;
  order: 2;
}

/* Result Keys interpretation */
#codeResult p, div,
span {
  display: block;
  text-align: center;
  font-size: 12px;
}

/* Result Keys interpretation black key*/
#result-black {
  display: inline-block;
  margin: 3px;
  background-color: #000;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.46);
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

/* Result Keys interpretation gray key*/
#result-gray {
  display: inline-block;
  margin: 3px;
  background-color: #c0c0c0;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.46);
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

/* To hide the color sequence generated by the computer (the secret code) */
#secret {
  visibility: hidden;
}

/* Question marks on top of secret code */
#codeTop {
  position: absolute;
  margin: 0;
  padding: 0;
  /* This width has to be set to the width of the gameboard and will be calculated automatically to  follow the resizing of the flex row secret (js function to resize) */
  width: 201px;
  text-align: justify;
  color: #8d8d8d;
  visibility: visible;
}

#codeTop div {
  font-family: "Tilt Prism", sans-serif;
  font-size: 19px;
  text-align: center;
}

#rowT-1 {
  margin-left: 3px;
}

/* Container with the buttons on the bottom of the gameboard */
#buttons {
  margin: 5px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.btn {
  font-size: 13px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  letter-spacing: 0.7px;
  color: #fff;
  flex-direction: row;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 3px;
  background-color: #1a2a6c;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.btnWinLoose {
  margin: 20px;
}

.btn:hover {
  color: #1a2a6c;
  background-color: #fff;
}

/* inspired on the modal tutorial from https://www.youtube.com/watch?v=gLWIYk0Sd38 */
#bg-modal,
#bg-modalWin,
#bg-modalLoose {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: none;
}

#modal-content {
  width: 70%;
  max-width: 500px;
  height: 300px;
  background-color: #fff;
  border-radius: 4px;
  text-align: justify;
  letter-spacing: 0.5px;
  padding: 20px;
  overflow: auto;
  position: relative;
}

#modal-win,
#modal-loose {
  width: 70%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 20px;
  position: relative;
}

#modal-content > h2,
p {
  padding-top: 7px;
}

#modal-win > h2,
#modal-loose > h2 {
  text-align: justify;
  padding: 20px;
}

#modal-content > h3 {
  padding-top: 10px;
}

#closeModal,
#closeModalWin,
#closeModalLoose {
  position: absolute;
  top: 0;
  right: 15px;
  display: inline-block;
  font-size: 42px;
}

#closeModal:hover,
#closeModalWin:hover,
#closeModalLoose:hover {
  cursor: pointer;
  color: #c0c0c0;
}

footer {
  background-color: #080808;
  /* font-size: 1rem; */
  color: #eeeeee;
  width: 100%;
}

footer p {
  padding: 2px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 100;
}

/* Media query for medium mobiles */
@media screen and (min-width: 360px) {
  #boardColorsAndKeys {
    margin: 0 10px;
    justify-content: center;
    flex-grow: 1;
    gap: 7px;
  }

  #codeTop div {
    font-size: 30px;
  }

  #colorsContainer h2 {
    font-size: 20px;
  }

  #codeResult p,
  span {
    font-size: 15px;
  }
  
  #rowT-1 {
    margin-left: 3px;
  }

  .guess-pegs,
  .color {
    width: 37px;
    height: 37px;
  }

  .result-panel {
    width: 30px;
  }

  .rowS-result {
    width: 30px;
  }

  #result-black, #result-gray, .result-pegs {
    height: 10px;
    width: 10px;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.46);
  }

  .btn {
    font-size: 18px;
  }
}

/* Media query for large phones and  larger */
@media screen and (min-width: 390px) {

  h1 {
    font-size: 45px;
  }
}

/* Media query for tablets and  larger */
@media screen and (min-width: 768px) {

  h1 {
    font-size: 70px;
  }

  #boardColorsAndKeys {
    gap: 30px;
    margin: 10px 10px;
  }
  
  #gameboard {
    flex: 0 0 60%;
  }

  /* #codeTop {
    width: 449px;
  } */

  #codeTop div {
    font-size: 40px;
  }

  #colorsContainer h2 {
    font-size: 35px;
  }

  .guess-pegs,
  .color {
    width: 55px;
    height: 55px;
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.46);
  }

  .result-panel {
    width: 45px;
  }
  
  .rowS-result {
    width: 45px;
  }

  #result-black, #result-gray, .result-pegs {
    height: 15px;
    width: 15px;
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.46);
  }

  #codeResult p,
  span {
    font-size: 25px;
    padding-bottom: 6px;
  }

  .btn {
    font-size: 35px;
  }

  #buttons {
    justify-content: center;
    gap: 30px;
  }

  footer p {
    font-size: 25px;
  }
}

/* Media query for laptops and  larger */
@media screen and (min-width: 992px) {

  h1 {
    font-size: 50px;
  }

  #gameboard {
    flex: 0 0 200px;
  }

  #coloursAndKeys {
    flex: 0 0 100px;
  }

  #codeTop div {
    font-size: 30px;
  }

  #colorsContainer h2 {
    font-size: 25px;
  }

  #codeResult p,
  span {
    font-size: 16px;
  }

  .guess-pegs,
  .color {
    width: 40px;
    height: 40px;
    box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.46);
  }

  .result-panel {
    width: 25px;
  }
  
  .rowS-result {
    width: 25px;
  }

  #result-black, #result-gray, .result-pegs {
    height: 8px;
    width: 8px;
    box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.46);
  }

  .btn {
    font-size: 20px;
  }

  #buttons {
    justify-content: center;
    gap: 20px;
  }

  footer p {
    font-size: 16px;
  }
}