/* To remove default padding and margin.
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
}

#game-setup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 800px;
  max-height: 85vh;
}

#gameboard {
  margin: 10px;
  background-color: green;
  max-height: 85vh;
  width: 250px;
  border-radius: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#secret {
  visibility: hidden;
}

.guess-pegs,
.colour {
  margin: 5px;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
}

.result-panel {
  margin-right: 2px;
  max-width: 50px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: pink;
  justify-content: space-around;
  align-items: center;
}

#not-visible {
  background-color: inherit;
}

.result-pegs {
  margin: 2px;
  background-color: white;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.result-pegs-invisible {
  background-color: inherit;
}
.colours {
  margin: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
