/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* To remove default padding and margin.
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

/* Gradients from https://uigradients.com/#Lawrencium */
body {
  height: 100vh;
  background-color: #808080;
  font-family: "Barlow Condensed", sans-serif;
  display: flex;
  flex-direction: column;
}

#game-setup {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
}

#gameboard {
  margin-bottom: 5px;
  background-color: #000;
  max-height: 600px;
  max-width: 260px;
  border-radius: 5px;
}

.row {
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  background-color: #000;
  width: 98%;
  justify-content: space-between;
  align-items: center;
}

#secret {
  visibility: hidden;
}

#rowS-result {
  background-color: inherit !important;
}

/* box-shadow from: https://www.cssmatic.com/box-shadow
suggested on https://stackoverflow.com/questions/54253830/give-divs-depth-with-css-box-shadow-property*/
.guess-pegs,
.color {
  margin: 5px;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* border: solid 1px #000; */
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.46);
  display: inline-block;
  transition: 0.2s ease;
  cursor: pointer;
}

/* Increase scale when hover(colors) and selected(pegs) */
.color:hover,
.selected {
  transform: scale(1.2);
}

.result-panel {
  margin-right: 5px;
  max-width: 40px;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #FFC0CB;
  justify-content: space-evenly;
  align-items: center;
}

#not-visible {
  background-color: inherit;
}

.result-pegs {
  margin: 2px;
  background-color: #c0c0c0;
  /* border: solid 0.5px #000; */
  box-shadow: inset 0px 0px 1.5px 0px rgba(0,0,0,0.46);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  z-index: 10;
}

.result-pegs-invisible {
  background-color: inherit;
}
.colors {
  margin: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.colors h2 {
  color: #fff
}

#color1 {
  background-color: blue;
}

#color2 {
  background-color: red;
}

#color3 {
  background-color: orange;
}

#color4 {
  background-color: pink;
}

#color5 {
  background-color: green;
}

#color6 {
  background-color: purple;
}

.btn {
  display: flex;
  border-radius: 10px;
  padding: 2px 15px;
  margin: 5px;
  background-color: #c0c0c0;
  cursor: pointer;
}

/* inspired on the modal tutorial from https://www.youtube.com/watch?v=gLWIYk0Sd38 */
#bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;
}

#modal-content {
  width: 500px;
  height: 300px;
  background-color: #fff;
  border-radius: 4px;
  text-align: justify;
  letter-spacing: 0.5px;
  padding: 20px;
  overflow: auto;
  position: relative;
}

#modal-content > h2, p {
  padding-top: 7px;
}

#modal-content > h3 {
  padding-top: 10px;
}

#closeModal {
  position: absolute;
  top: 0;
  right: 15px;
  display:inline-block;
  font-size: 42px;
  rotate: 45deg; 
}
